@import './common/sidebar';

body
  color: #222

.uc
  &-box-center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    
    margin: auto
    &--personal
      width: 900px 
      height: 800px
  &-input
    &__icon
      &--gray
        color: #eee
  &-img-response
    width: 100%
  &-course-card
    .ant-card-body
      padding: 0
