.sidebar
  border-right: 1px solid #eeeeee
  background: #ffffff

.profile
  &__img-container
    margin: 0
  &__img-caption
    padding: 15px 0
    font-size: 15px
    text-align: center
  &__img
    width: 100%
    padding: 30px 50px 0 50px
  &__divider
    width: 30%
    border: none
    border-bottom: 1px solid #eeeeee

.ant-layout-sider-collapsed .profile__img-caption
  display none
